@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  position: relative;
  background-image:url("images/hd-wallpaper-cork.jpg");
  font-family: 'Architects Daughter', cursive;
}

#header p{
  
  outline: none;
  cursor: pointer;
  font-family: inherit;
  transition: 0.3s ease-in-out;

}

.la-plus-square:hover{
  color: lightgrey;
  background-color: rgba(0, 0, 0, 0.1);
}

#modal{
  position: fixed;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#inner_modal{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#inner_modal textarea{
  width: 276px;
  height: 276px;
  padding: 25px;
  outline: none;
  resize: none;
  font-size: 1.5rem;
  font-family: inherit;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}
#modal_icons i{
  font-size: 24px;
  color: gray;
  cursor: pointer;
  margin-top: -285px;
  transition: 0.3s ease-in-out;
}

#hide {
  margin-left: -35px;
  
}
#tick{
  margin-left: -50px;
}

#inner_modal i:hover{
  color: lightgray;
}


.container{
  width: 1280px;
  margin: auto;
}

#header{
  color: white;
  padding: 0 20px;
  min-height: 70px;
  text-shadow: 1px 1px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}

#header .las{
  
  color: #673dff;
  font-size: 48px;
 
}

#all_notes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}

.note{
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  width:300px;
  height: 300px;
  transition: 2s;
  cursor: pointer;
  overflow-wrap: break-word;
  box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
}

.note h1{
  font-size: 1.5rem;
}

.details {
  display: block;
  margin-top: 25px;
  padding: 0 15px;
  font-size: 1.5rem;
}
.icons{
  position:relative;
  display: inline;
}


 .icons i{
  position:relative;
  font-size: 24px;
  color: gray;
  cursor: pointer;
  margin-top: -245px;
  transition: 0.3s ease-in-out;
}
.la-edit{
  margin-left: 240px;
}


.details i:hover{
  color: lightgray;
}
@media(max-width:1280px){
  .container{
    width: 100%;
  }
}

@media(max-width:768px){
  #header{
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}